.home {
  background: #EBEBEB;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 544px;
  background: url("../img/home-decor.svg") no-repeat center bottom;
  background-size: 100%;
  z-index: -1;
}

.home-content {
  margin: 85px 0 447px;
}

.home-image {
  position: absolute;
  z-index: -2;
  right: 0;
  top: 0;
  max-width: 857px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-advantages {
  font-size: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list-advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 50px 20px 0;
}
.list-advantages-item:first-child .list-advantages-item__text {
  max-width: 159px;
}
.list-advantages-item:last-child {
  margin: 0 0 20px;
}
.list-advantages-item:last-child .list-advantages-item__text {
  max-width: 209px;
}
.list-advantages-item__icon {
  margin: 0 15px 0 0;
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-advantages-item__text {
  max-width: 252px;
}

.advantages-section {
  margin: 230px 0 100px;
  position: relative;
  z-index: 1;
}

.decor {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.decor1 {
  left: 35px;
  bottom: 54px;
  width: 231px;
  height: 349px;
}

.decor2 {
  width: 253px;
  height: 385px;
  right: 65px !important;
  left: auto !important;
}

.advantages-section-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-box {
  width: calc(33.33% - 24px);
  margin: 0 0 40px;
}
.advantages-box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 480px;
}
.advantages-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages-box__body {
  width: 100%;
  padding: 65px 0 0;
}
.advantages-box .h2 {
  font-weight: 500;
  max-width: 280px;
}

.advantages-numbers .advantages-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.services {
  margin: 130px 0 100px;
}

.services-box {
  width: 100%;
}
.services-box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 406px;
  width: 100%;
}
.services-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-box__body {
  width: 100%;
  padding: 37px 0 0;
}
.services-box .link {
  margin: 30px 0 0;
}
.services-box .h3 {
  font-size: 35px;
}

.callback-section h2 {
  font-weight: 500;
  margin: 0 0 25px;
}

.callback-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #EBEBEB;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.callback-content {
  padding: 53px 50px;
  position: relative;
  z-index: 1;
  width: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}
.callback-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  height: 215px;
  background: url("../img/callback-decor.svg") no-repeat center;
  background-size: 100%;
}
.callback-content .box-text {
  font-family: "Hibana", sans-serif;
  font-weight: 500;
  max-width: 535px;
}

.callback-form {
  width: 50%;
  padding: 40px 90px 34px 68px;
}

.documents {
  margin: 174px 0 35px;
  padding: 0 0 90px;
  position: relative;
  z-index: 1;
}

.decor3 {
  right: 0 !important;
  left: 90% !important;
  bottom: 0;
  width: 248px;
  height: 377px;
}

.documents-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: #FFF;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 50px 70px;
}
.documents-box__bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.documents-box .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.documents-box .btn-next {
  position: absolute;
  right: 0;
  bottom: 0;
}
.documents-box__body {
  width: calc(100% - 80px);
  padding: 0 0 0 77px;
}
.documents-box__body .btn {
  margin: 20px 0 0;
}
.documents-box .h3 {
  max-width: 250px;
}

.documents-box-archive {
  padding: 47px 10px 40px 25px;
}
.documents-box-archive .documents-box__body {
  padding: 0 0 0 20px;
  width: calc(100% - 52px);
}
.documents-box-archive .btn-next {
  width: 74px;
  height: 74px;
  padding: 5px;
}

.our-fleet {
  position: relative;
  overflow: hidden;
}

.our-fleet-wrapper {
  position: relative;
  z-index: 1;
}

.our-fleet-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-fleet-slider__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1600px;
  width: 100%;
  left: 50%;
}
.our-fleet-slider .slick-slide {
  margin: 0 20px;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 1496px;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
}
.our-fleet-slider .slick-current {
  opacity: 1;
  position: relative;
  z-index: 1;
  -webkit-transform: none;
          transform: none;
}

.about {
  margin: 100px 0 20px;
  position: relative;
  z-index: 1;
}
.about .box-text {
  font-weight: 500;
  font-size: 36px;
}
.about h2, .about .h2 {
  margin: 0 0 23px;
}

.decor4, .decor5 {
  position: absolute;
  z-index: -1;
  width: 230px;
  height: 349px;
}

.decor4 {
  top: 30px;
  left: 25px !important;
}

.decor5 {
  bottom: -140px !important;
  top: auto !important;
  right: 30px !important;
  left: auto !important;
}

.about-img {
  width: 100%;
  height: 329px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.corporate-values {
  margin: 0 0 130px;
  position: relative;
  z-index: 1;
}
.corporate-values h2 {
  margin: 0 0 30px;
}

.corporate-values-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.corporate-values-box {
  margin: 0 27px 30px 0;
  background: #FFF;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  padding: 26px 42px;
  font-size: 36px;
  font-weight: 500;
}
.corporate-values-box:last-child {
  margin: 0 0 30px;
}

.codex-box p {
  font-size: 24px;
  font-weight: normal;
  max-width: 172px;
  margin: 0 0 22px;
}

.news-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-card {
  margin: 0 auto 30px 0;
  max-width: 428px;
  width: 100%;
  background: #FFF;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}
.news-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 428px;
}
.news-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card__body {
  width: 100%;
  padding: 25px 15px 25px 30px;
}
.news-card__title {
  margin: 0 0 16px;
  color: #393939;
  width: 100%;
}
.news-card__title:hover {
  color: #E21F26;
}
.news-card .box-text {
  max-height: 140px;
  overflow: hidden;
}
.news-card .link {
  margin: 25px 0 0;
}
.news-card:last-child {
  margin: 0 0 30px;
}

.reviews {
  margin: 100px 0 95px;
  position: relative;
  overflow: hidden;
}

.reviews-slider {
  width: calc(100% + 1500px);
}
.reviews-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.reviews-slider .slick-slide {
  margin: 50px 35px 60px 0;
  width: 574px;
  height: auto;
}
.reviews-slider__nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.reviews-slider__nav .slick-arrow {
  width: 74px;
  height: 74px;
  padding: 18px;
  background: #F1F1F1;
  stroke: #999999;
}
.reviews-slider__nav .slick-arrow:hover {
  background: #E21F26;
  stroke: #fff;
}
.reviews-slider__nav .slick-next {
  margin: 0 0 0 48px;
}

.reviews-box {
  background: #FFF;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 30px;
}
.reviews-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.reviews-box__photo {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews-box__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-box__name {
  width: calc(100% - 58px);
  padding: 0 0 0 14px;
}
.reviews-box__body {
  width: 100%;
  margin: 30px 0 0;
}

.faces-company-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
}
.faces-company-card__photo {
  width: 266px;
  height: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faces-company-card__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.faces-company-card__body {
  width: calc(100% - 266px);
  padding: 0 0 0 32px;
}
.faces-company-card__position {
  color: #E21F26;
  margin: 10px 0 40px;
}
.faces-company-card__contact {
  margin: 10px 0 0;
}

.faces-col {
  display: none;
}
.faces-col:nth-child(-n+4) {
  display: block;
}

.vacansies {
  margin: 70px 0 96px;
}

.vacansies-callback {
  width: 100%;
  background: #fff;
  padding: 60px;
  -webkit-box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}
.vacansies-callback h4 {
  margin: 28px 0;
  text-transform: uppercase;
}
.vacansies-callback .btn {
  margin: 28px 0 0;
}

.form-vacancies input {
  border: 1px solid #5C6467;
}
.form-vacancies .label-file {
  min-height: 59px;
}

.partners-bg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.partners-bg img {
  width: 100%;
}

.partners-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 14%;
  margin: 0 auto 64px;
  height: 70px;
  padding: 0 15px;
}
.partners-logo img {
  max-height: 100%;
}